<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username, 'お名前' %><br />
    <%= f.text_field :username %>
  </div>

  <div>
    <label><%= f.radio_button :gender, '男性' %>男性</label>
    <label><%= f.radio_button :gender, '女性' %>女性</label>
  </div>

  <div><%= f.label :age, '年代' %><br />
    <%= f.select :age, %w(10才未満 10-14歳 15-19歳 20-24歳 25-29歳 30-34歳 35-39歳 40-44歳 45-49歳 50-54歳 55-59歳 60-64歳 65-69歳 70-74歳 75-79歳 80-84歳 85-89歳 90-94歳 95-99歳 100歳以上),{include_blank: '選択してください'} %>
  </div>

  <div><%= f.label :prefecture_code, 'お住まい' %><br />
    <%=f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name,{include_blank: '選択してください'} %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<h3>アカウントを削除する</h3>

<p><%= button_to '削除する', registration_path(resource_name), data: { confirm: '本当に削除しますか?' }, method: :delete %></p>

<%= link_to 'Back', :back %>
