<div class="str-header-inner">
<% if move_header %>
  <canvas height="100" width="320" id="logoCanvas"></canvas>
  <h1 class="hdg">
    <%= link_to '/' do %>
      ちょい選<br><span class='sub'>〜 ちょいっと質問、ちょいっと選択 !! 〜</span>
    <% end %>
  </h1>
<% else %>
  <h1 class="hdg">
    <%= link_to '/' do %>
      ちょい選<br><span class='sub'>〜 ちょいっと質問、ちょいっと選択 !! 〜</span>
    <% end %>
  </h1>
<% end %>
</div>
<!--devise-->
<nav class="nav-user">
  <% if user_signed_in? %>
    <% if guest_user? %>
      <%= link_to 'メンバーになる', new_user_registration_path %>
    <% else %>
      <%= link_to 'プロフィール変更', edit_user_registration_path %> |
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% end %><br>
    ログイン中： <strong><%= current_or_guest_user.username %></strong>.
  <% else %>
    <%= link_to 'ユーザー登録', new_user_registration_path %> |
    <%= link_to 'ログイン', new_user_session_path %>
  <% end %>
</nav>
<!--/ devise-->