<table class="tbl_poll">
  <tr>
    <th><%= form.label :title, '質問タイトル' %></th>
    <td><%= form.text_field :title %></td>
  </tr>
  <tr>
    <th><%= form.label :question, '質問詳細' %></th>
    <td><%= form.text_field :question %></td>
  </tr>
  <tr>
    <th><%= form.label :answer01, '選択肢01' %></th>
    <td><%= form.text_field :choice01, id: 'poll_answer01' %></td>
  </tr>
  <tr>
    <th><%= form.label :answer02, '選択肢02' %></th>
    <td><%= form.text_field :choice02, id: 'poll_answer02' %></td>
  </tr>
</table>