    <% @polls.each do |poll| %>
      <li>
        <article>
          <%
             limit_time = Time.parse(poll.limit).to_i
             diff_to_dates = (limit_time * 1000) - (@current_date * 1000)

             diff_to_dates = diff_to_dates % ( 1000 * 60 * 60 * 24 )
             d_hour = diff_to_dates / ( 1000 * 60 * 60 ) # 時間
             diff_to_dates = diff_to_dates % ( 1000 * 60 * 60 )
             d_min = diff_to_dates / ( 1000 * 60 ) # 分
             msg = "#{d_hour}時間#{d_min}分"
          %>
          <%= link_to poll do %>
            <div class="poll-main-container">
              <h2 class="hdg"><%= fa_icon 'question 2x' %><%= poll.title %></h2>
              <p class="txt"><%= fa_icon 'comment-o lg' %><%= poll.question %></p>
            </div>
            <div class="poll-info-container
            <% if limit_time < @current_date %>
            is-finished
              <% elsif (limit_time - @current_date) >= 0 && (limit_time - @current_date) <= 600 %>
            is-soon
            <% end %>
            ">
              <p class="host-info">
                <%= fa_icon 'user lg' %><%= poll.user.area %><br>
                <%= poll.user.age %>
                <%= poll.user.gender %>
              </p>
              <p class="time-info">
                <% if limit_time > @current_date  %>
                  <span class="text"><%= fa_icon 'clock-o lg' %>終了まであと</span>
                  <span class="time"><%= msg %></span>
                <% else %>
                  <span class="text"><%= fa_icon 'clock-o lg' %>投票受付終了</span>
                  <span class="time"><%= Time.parse(poll.limit).strftime('%-m/%d %H:%M') %></span>
                <% end %>

              </p>
            </div>
          <% end %>
          <%#= link_to '削除', poll, method: :delete, data: {confirm: '本当に削除しますか？'} %>
        </article>
      </li>
    <% end %>
