<% @page_title = '登録内容確認' %>

<h1><%= @page_title %></h1>

<%= form_for @poll do |form| %>
  <table class="tbl_poll">
    <tr>
      <th>質問タイトル</th>
      <td>
        <%= @poll.title %>
        <%= form.hidden_field :title %>
      </td>
    </tr>
    <tr>
      <th>質問詳細</th>
      <td>
        <%= @poll.question %>
        <%= form.hidden_field :question %>
      </td>
    </tr>
    <tr>
      <th>選択肢</th>
      <td>
        <% @count = 0 %>
      <% @poll.choices.each do |c| %>
        <div><%= c.choice %></div>
          <input type="hidden" name="poll[choices_attributes][<%= @count %>][choice]" value="<%= c.choice %>">
          <% @count += 1 %>
      <% end %>
      </td>
    </tr>
    <tr>
      <th>期限</th>
      <td>
        <%= @poll.limit %>
        <%= form.hidden_field :limit %>
      </td>
    </tr>
  </table>
  <%= form.hidden_field :user_id , value: current_or_guest_user.id %>
  <p><%= form.submit '作成！' %></p>
  <p><%= form.submit '前の画面に戻る', name: 'back' %></p>
<% end %>

