<%
  @page_title = 'ちょい選 〜ちょいっと質問、ちょいっと選択'
  @animate_header = true
  @current_date = Time.current.to_i
%>

<%= search_form_for @search do |f| %>
  <%= f.text_field :title_or_question_cont %>
  <%= f.submit '検索' %>
<% end %>

<p class="btn new"><%= link_to 'あたらしく質問する', :new_poll %></p>


<% if @polls.present? %>
  <ul class="list-polls" id="listPolls">
    <%= render 'list_polls' %>
  </ul>
<% else %>
  <p>現在質問がありません。</p>
<% end %>

<%= paginate @polls %>

