<% @page_title = '質問一覧' %>

<h1><%= @page_title %></h1>

<%= form_tag :search_polls, method: :get do %>
  <p>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "検索" %>
  </p>
<% end %>

<p><%= link_to 'あたらしく質問する', :new_poll %></p>

<% if @polls.present? %>
  <% @polls.each do |poll| %>
    <p>
      <%= link_to poll do %>
      質問タイトル：<%= poll.title %><br>
      質問内容：<%= poll.question %>
      <% end %>
    </p>
    <%= link_to '削除', poll, method: :delete,
                data: {confirm: '本当に削除しますか？'} %>
  <% end %>
<% else %>
  <p>現在質問がありません。</p>
<% end %>


<p id="time"><%= @time %></p>
<script type="text/javascript" charset="utf-8">
//  var update;
//
//  $(function() {
//    var timer;
//    return timer = setInterval(function() {
//      return update();
//    }, 5000);
//  });
//
//  update = function() {
//    $.ajax({
//      url: 'polls/ajax_action',
//      type: 'GET'
//    });
//  };
</script>