<% @page_title = '質問新規登録' %>

<h1><%= @page_title %></h1>

<%= form_for @poll, url:{action: 'confirm'} do |form| %>
  <ul class="list-input-poll" id="pollInputList">
    <li>
      <%= form.label :title, '質問タイトル' %>
      <%= form.text_field :title %>
    </li>
    <li>
      <%= form.label :question, '質問詳細' %>
      <%= form.text_field :question %>
    </li>
    <%= form.fields_for :choices do |c| %>
      <li class="choicesItem">
        <%= c.label :choice, '選択肢' %>
        <%= c.text_field :choice, class:'choicesItemInput' %>
      </li>
    <% end %>
    <li>
      <%= form.label :limit, '期限' %>
      <%= form.select :limit, options_for_select(%w(15分 30分 1時間 3時間 6時間 12時間 24時間)) %>
    </li>
  </ul>
  <%= form.hidden_field :choices , id: 'choices_text' %>
  <p class="tx-center"><%= form.submit '確認画面へ', class:'btn submit' %></p>
<% end %>