<%
   @page_title = @poll.title
   current_date = Time.current.to_i
   limit_time = Time.parse(@poll.limit).to_i
%>
<script>
  var currentTime = <%= current_date * 1000 %>,
      limitTime = <%= limit_time * 1000 %>
</script>

<h1><%= fa_icon 'question 2x' %> <%= @page_title %></h1>

<!-- 残り時間表示 -->
<p id="realtimeCountdownArea"></p>

<!-- グラフ表示 -->
<div id="chartArea"></div>

<table class="tbl-result">
  <tbody>
    <tr>
      <th><%= fa_icon 'user lg' %>質問者</th>
      <td>
        <%= @user.username %>さん <%= @user.gender %> <%= @user.age %> <%= @user.prefecture.name %>
      </td>
    </tr>
    <tr>
      <th><%= fa_icon 'comment-o lg' %>質問詳細</th>
      <td><%= @poll.question %></td>
    </tr>
    <tr>
      <th><%= fa_icon 'hand-pointer-o lg' %>選択肢</th>
      <td>
        <ul>
          <% @poll.choices.each do |c| %>
            <li><%= c.choice %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= fa_icon 'clock-o lg' %>期限</th>
      <td>
        <%= l @poll.limit.to_datetime, format: :short %>
      </td>
    </tr>
  </tbody>
</table>

<h2>回答者の都道府県</h2>

<!-- マップ表示 -->
<div id="chartMapArea"></div>


<p class="btn mt30 mb30"><%= link_to 'トップへ戻る', '/' %></p>

<script>
  function showCountdown() {
    var diff2Dates = limitTime - currentTime;

    diff2Dates = diff2Dates % ( 1000 * 60 * 60 * 24 );
    var dHour = diff2Dates / ( 1000 * 60 * 60 ); // 時間
    diff2Dates = diff2Dates % ( 1000 * 60 * 60 );
    var dMin = diff2Dates / ( 1000 * 60 ); // 分
    diff2Dates = diff2Dates % ( 1000 * 60 );
    var dSec = diff2Dates / 1000; // 秒
    var msg = Math.floor(dHour) + "時間" + Math.floor(dMin) + "分" + Math.floor(dSec) + "秒";

    if (limitTime > currentTime) {
      // まだ期限が来ていない場合
      msg = "投票終了まで、あと" + msg + "です。";
//      clearInterval(showCountdown());
      document.getElementById("realtimeCountdownArea").innerHTML = msg;
    }
    else {
      msg = "投票は締め切りました";
      document.getElementById("realtimeCountdownArea").innerHTML = msg;
      clearInterval(showCountdown(timerId));
    }
    currentTime += 1000;
  }
  var timerId = setInterval('showCountdown()', 1000);
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ammaps/3.13.0/ammap.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/amcharts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/serial.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ammaps/3.13.0/ammap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.13.0/themes/light.js"></script>
<script type="text/javascript">
  var answerData = [];

  <%
  i = 0

  choices_length = @poll.choices.length

  choices_length.times do |i|
    hue = i * (360 / choices_length)
    color = "hsl(#{hue}, 100%, 60%)"
    %>
    answerData.push({
      "choices": "<%= i+ 1 %>",
      "answer": 0,
      "color": "<%= color %>"
    });
  <%
  i = i + 1
  end
  %>
  <% @answers.each do |key,value| %>
    answerData[<%= key-1 %>].answer = <%= value %>;
  <% end %>


  var chart = AmCharts.makeChart("chartArea", {
    "type": "serial",
    "theme": "light",
    "marginRight": 10,
    "dataProvider": answerData,
    "startDuration": 1,
    "valueAxes": [{
      "precision": false
    }],
    "graphs": [{
      "balloonText": "<b>[[category]]: [[value]]</b>",
      "fillColorsField": "color",
      "fillAlphas": 0.9,
      "lineAlpha": 0.2,
      "type": "column",
      "valueField": "answer"
    }],
    "chartCursor": {
      "categoryBalloonEnabled": false,
      "cursorAlpha": 0,
      "zoomable": false
    },
    "categoryField": "choices",
    "categoryAxis": {
      "gridPosition": "start",
      "labelRotation": 0
    },
    "export": {
      "enabled": false
    }

  });

</script>

<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/japanLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript">
  var userPrefectureData = [];

  <% @users.each do |key, value| %>
    <%= sprintf("%02d",key) %>
    <%= value %>
    userPrefectureData.push({
      "id": "JP-<%= sprintf("%02d",key) %>",
      "value": "<%= value %>"
    });
  <% end %>

  var map = AmCharts.makeChart( "chartMapArea", {
    type: "map",
    "theme": "none",

    backgroundColor: "#f00000",

    colorSteps: 10,

    dataProvider: {
      map: "japanLow",
      areas: userPrefectureData,
      "images": [
        {
          "top": 0,
          "left": -200
        }
      ]
    },

    areasSettings: {
      autoZoom: false,
      balloonText: "[[title]]: <strong>[[value]]</strong>"
    },

    valueLegend: {
      right: 10,
      minValue: "little",
      maxValue: "a lot!"
    },

    "export": {
      "enabled": true
    }

  } );
</script>