<%
  @page_title = @poll.title
  choices_array = @poll.choices.split(' |||| ')
  choice_num = 1
  limit_datetime = l @poll.limit.to_datetime, format: :short
%>

<h1><%= @page_title %></h1>
<%= @user.area %>
<%= @user.age %>
<%= @user.gender %>
<%= form_for [@poll,@poll.answers.build] do |f| %>
<ul class="list-show-poll">
  <li>
    質問タイトル<br>
    <%= @poll.title %>
  </li>
  <li>
    質問詳細<br>
    <%= @poll.question %>
  </li>
  <li>
    選択肢<br>
      <% choices_array.each do |value| %>
        <%=f.radio_button :answer_num, choice_num %>
        <%=f.label :answer_num, value, value: choice_num %>
        <% choice_num = choice_num + 1 %>
      <% end %>
  </li>
  <li>
    期限<br>
    <%= limit_datetime %>
  </li>
</ul>
<p><%= f.submit '投票する' %></p>
<% end %>


<p><%= link_to '編集する', [:edit, @poll] %></p>

<p><%= link_to '結果だけ見る',result_path %></p>