<% @page_title = @poll.title %>

<h1><%= @page_title %></h1>

<p><%= link_to "編集する", [:edit, @poll] %></p>

<table>
  <tr>
    <th>質問タイトル</th>
    <td><%= @poll.title %></td>
  </tr>
  <tr>
    <th>質問詳細</th>
    <td><%= @poll.question %></td>
  </tr>
  <tr>
    <th>選択肢</th>
    <td>
      <%
        str = @poll.choice02
      %>
      <%= splitText = str.split(' /// ') %><br>
      <%= splitText[0] %><br>
      <%= splitText[1] %><br>
      <%= splitText[2] %><br>
      <%= splitText[3] %><br>

      <%= splitText.each do |value| %>
        <p><%= value %></p>
      <% end %>



        <%= form_for [@poll,@poll.answers.build] do |f| %>
        <%=f.radio_button :answer_num, 1 %>
        <%=f.label :answer_num, @poll.choice01, value: 1 %>
        <%=f.radio_button :answer_num, 2 %>
        <%=f.label :answer_num, @poll.choice02, value: 2 %>
        <%=f.radio_button :answer_num, 3 %>
        <%=f.label :answer_num, @poll.choice03, value: 3 %>
        <%=f.radio_button :answer_num, 4 %>
        <%=f.label :answer_num, @poll.choice04, value: 4 %>
        <%=f.radio_button :answer_num, 5 %>
        <%=f.label :answer_num, @poll.choice05, value: 5 %>
        <%=f.radio_button :answer_num, 6 %>
        <%=f.label :answer_num, @poll.choice06, value: 6 %>
        <%=f.radio_button :answer_num, 7 %>
        <%=f.label :answer_num, @poll.choice07, value: 7 %>
        <%=f.radio_button :answer_num, 8 %>
        <%=f.label :answer_num, @poll.choice08, value: 8 %>
        <p><%= f.submit '投票する' %></p>
      <% end %>
    </td>
  </tr>
</table>
<p><%= link_to '結果だけ見る',result_path %></p>