<%
  @page_title = @poll.title
  choices_array = @poll.choices.split(' |||| ')
  num = 1
%>

<h1><%= @page_title %></h1>

<p><%= link_to "編集する", [:edit, @poll] %></p>

<table>
  <tr>
    <th>質問タイトル</th>
    <td><%= @poll.title %></td>
  </tr>
  <tr>
    <th>質問詳細</th>
    <td><%= @poll.question %></td>
  </tr>
  <tr>
    <th>選択肢</th>
    <td>
      <%= form_for [@poll,@poll.answers.build] do |f| %>
        <% choices_array.each do |value| %>
          <%=f.radio_button :answer_num, num %>
          <%=f.label :answer_num, value, value: num %>
          <% num = num + 1 %>
        <% end %>
        <p><%= f.submit '投票する' %></p>
      <% end %>
    </td>
  </tr>
</table>
<p><%= link_to '結果だけ見る',result_path %></p>