<%
  @page_title = @poll.title
  choices_array = @poll.choices.split(' |||| ')
  choice_num = 1
  limit_datetime = l @poll.limit.to_datetime, format: :short
%>

<h1><%= fa_icon 'question 2x' %><%= @page_title %></h1>
<%= form_for [@poll,@poll.answers.build] do |f| %>
<ul class="list-show-poll">
  <li>
    <h2 class="hdg"><%= fa_icon 'user lg' %>質問者</h2>
    <%= @user.username %> <%= @user.gender %> <%= @user.age %> <%= @user.area %>
  </li>
  <li>
    <h2 class="hdg"><%= fa_icon 'comment-o lg' %>質問詳細</h2>
    <%= @poll.question %>
  </li>
  <li>
    <h2 class="hdg"><%= fa_icon 'hand-pointer-o lg' %>選択肢</h2>
    <% @poll.choices.each do |c| %>
      <%=f.radio_button :answer_num, choice_num %>
      <%=f.label :answer_num, c.choice, value: choice_num , class: 'choice-radio' %>
      <% choice_num = choice_num + 1 %>
    <% end %>
  </li>
  <li>
    <h2 class="hdg"><%= fa_icon 'clock-o' %>期限</h2>
    <%= limit_datetime %>
  </li>
</ul>
  <%= f.hidden_field :user_id , value: current_or_guest_user.id %>
<p><%= f.submit '投票する' %></p>
<% end %>


<!--<p><%#= link_to '編集する', [:edit, @poll] %></p>-->

<p><%= link_to '結果だけ見る',result_path %></p>