<% content_for :head do %>
  <%= stylesheet_link_tag gulp_asset_path('application.bundle.css') %>
<% end %>
<% content_for :foot do %>
  <%= javascript_include_tag gulp_asset_path('application.bundle.js') %>
<% end %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>

  <%= yield :head if content_for?(:head) %>

  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%=	render "shared/header" %>
</header>
<main>
<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>
<%= yield %>
</main>
<footer>
<%=	render "shared/footer" %>
</footer>



<%= yield :foot if content_for?(:foot) %>

</body>
</html>